<footer class="text-center position-absolute bottom-0 start-0 text-white" style="background-color: #212529;width: 100%;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          mdbRipple
          rippleColor="dark"
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>