 <!-- Background image -->
 <div
 class="text-center position-fixed bg-image cover"
 style="
   background-image: url('https://img.freepik.com/photos-gratuite/maitre-barbier-elegant-fait-coupe-cheveux-au-client-coupe-cheveux-pour-hommes-dans-salon-coiffure-coiffer-cheveux-peigne_613910-19929.jpg?t=st=1716250379~exp=1716253979~hmac=b5e40589532fe0a459f75219b83f32705ccb7b6bfa163b68d3052990d38ac392&w=996');
   height: 80vh;
   width: 100%;
 "
>
 <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);height: 100%;">
   <div class="d-flex justify-content-center align-items-center h-100">
     <div class="text-white">
       <h1 class="mb-3">Barber Reservation</h1>
       <h4 class="mb-3">Subheading</h4>
       <a class="btn btn-outline-light btn-lg" href="/book" role="button"
         >Book now</a
       >
     </div>
   </div>
 </div>
</div>
<!-- Background image -->